aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
boto3==1.26.137
botocore==1.29.137
cachetools==5.3.0
cattrs==23.2.3
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
clickclick==20.10.2
connexion==2.14.1
defusedxml==0.8.0rc2
ecdsa==0.18.0
exceptiongroup==1.2.0
fastapi==0.104.1
filelock==3.9.0
Flask==2.2.2
Flask-Cors==3.0.10
freezegun==1.4.0
frozendict==2.4.0
frozenlist==1.3.3
google-ai-generativelanguage==0.2.0
google-api-core==2.11.0
google-auth==2.18.1
google-generativeai==0.1.0rc3
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.54.2
h11==0.14.0
html5lib==1.1
huggingface-hub==0.11.1
idna==3.4
importlib-metadata==6.11.0
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
lxml==5.1.0
MarkupSafe==2.1.1
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
multitasking==0.0.11
networkx==3.1
nltk==3.8.1
numpy==1.24.1
openai==0.27.7
openbb==4.1.4
openbb-benzinga==1.1.2
openbb-commodity==1.0.0
openbb-core==1.1.2
openbb-crypto==1.1.2
openbb-currency==1.1.2
openbb-derivatives==1.1.2
openbb-economy==1.1.2
openbb-equity==1.1.2
openbb-etf==1.1.2
openbb-federal-reserve==1.1.2
openbb-fixedincome==1.1.2
openbb-fmp==1.1.2
openbb-fred==1.1.2
openbb-index==1.1.2
openbb-intrinio==1.1.2
openbb-news==1.1.2
openbb-oecd==1.1.2
openbb-polygon==1.1.2
openbb-regulators==1.1.2
openbb-sec==1.1.2
openbb-tiingo==1.1.2
openbb-tradingeconomics==1.1.2
openbb-yfinance==1.1.2
packaging==22.0
pandas==2.2.0
peewee==3.17.1
Pillow==9.5.0
platformdirs==4.2.0
pluggy==1.4.0
posthog==3.4.2
proto-plus==1.22.2
protobuf==4.23.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==2.6.1
pydantic_core==2.16.2
pyrsistent==0.19.3
pytest==8.0.1
pytest-freezegun==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.6
pytz==2024.1
PyYAML==6.0
regex==2022.10.31
requests==2.31.0
requests-cache==1.2.0
rsa==4.9
ruff==0.1.15
s3transfer==0.6.1
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.27.0
swagger-ui-bundle==0.0.9
sympy==1.12
threadpoolctl==3.1.0
tokenizers==0.13.2
tomli==2.0.1
torch==2.0.1
torchvision==0.15.2
tqdm==4.64.1
transformers==4.25.1
typing_extensions==4.9.0
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.1
uuid7==0.1.0
uvicorn==0.24.0.post1
webencodings==0.5.1
websockets==12.0
Werkzeug==2.2.2
xmltodict==0.13.0
yarl==1.9.2
yfinance==0.2.36
zipp==3.11.0
